*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li{
    display: none;
    font-size: larger;
    color: black;
    font-weight: 600;
}
.nav-links ul li a{
    color: black;
}
.navbar{
    padding: 1.5rem;
    background-color: aquamarine;
    position: relative;
}
.fa-bars{
    position: absolute;
    margin: 23.5rem;
    
    
    
    
    
    
}

